.compiler-version {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  padding-left: 10px;
  background-color: #383838;
  width: 100%;
  color: white;
  display: block;
  text-transform: uppercase;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
}

.loading-indicator {
  padding: 10px 20px;
}

.compile-container {
  height: 60px;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
}

.compile-button {
  height: 25px;
  line-height: 25px;
  border-radius: 0px;
  border: 1px solid #2e9ad0;
  background: transparent;
  display: inline-block;
}

.auto-compile-input,
.solc-version-select {
  margin-left: 25px;
  display: inline-block;
}

.auto-compile-input label {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.auto-compile-input label.highlight {
  color: white;
}

.main-container {
  height: calc(100% - 20px);
  display: block;
  position: relative;
}

.errors-container {
  height: calc(100% - 60px);
  overflow-y: overlay;
}

.compilation-error {
  font-size: 14px;
  padding: 15px 30px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.compilation-error:not(:last-child) {
  margin-bottom: 2px;
}

.compilation-error pre {
  margin: 0;
}

.compilation-error:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  cursor: pointer;
}

.error-noerror {
  background-color: rgba(183, 245, 102, 0.66);
}

.error-type-warning {
  background-color: rgba(240, 172, 78, 0.66);
}

.error-type-error {
  background-color: rgba(217, 81, 79, 0.67);
}

.loading-indicator span {
  margin-bottom: 10px;
  display: block;
  color: white;
}

.contract-details {
  padding-left: 10px;
}

.contract-select {
  width: 250px;
  display: inline-block;
  position: relative;
}

.details-button {
  margin-left: 10px;
}
