.sidebar-tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-tabs li {
  text-align: center;
  padding: 10px 0;
  font-size: 22px;
  color: #969696;
  cursor: pointer;
}

.sidebar-tabs li:hover,
.sidebar-tabs li.active {
  color: white;
}
