#file-tab-container {
  height: 35px;
  overflow-x: overlay;
  white-space: nowrap;
}

#file-tab-container.populated {
  background-color: rgba(255, 255, 255, 0.04);
}

.file-tab {
  display: inline-block;
  line-height: 35px;
  height: 35px;
  padding: 0 30px;
  min-width: 105px;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  position: relative;
}

.file-tab.selected {
  background-color: #232328;
}

.file-tab:not(:last-child) {
  margin-right: 1px;
}

.file-name {
  color: #969696;
  font-size: 14px;
}

.file-tab.selected .file-name {
  color: white;
}

.close-file-btn {
  visibility: hidden;
  color: white;
  position: absolute;
  height: 35px;
  line-height: 35px;
  right: 11px;
  font-size: 14px;
}

.close-file-btn i {
  position: relative;
  font-size: 10px;
}

.not-saved-indicator {
  visibility: visible;
}

.not-saved-indicator:hover i {
  visibility: hidden;
}

.file-tab.selected .close-file-btn,
.file-tab:hover .close-file-btn {
  visibility: visible;
}

#ace-container {
  height: calc(100% - 35px);
  width: 100%;
}
