:host {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  display: block;
  padding-top: 10px;
}

.terminal-logs {
  height: 100%;
  width: 100%;
  display: block;
  overflow-y: overlay;
}

.terminal-log {
  color: white;
  padding: 10px;
}
