<div *ngIf="isFile">
  <a class="item-name noselect" (click)="openFile(fileItem)" [contextMenu]="fileMenu" [contextMenuSubject]="fileItem" [style.paddingLeft.px]="itemNamePadding - padding">{{ fileItem.name }}</a>
</div>
<div *ngIf="isFolder" [class.root-folder-container]="isRootFolder">
  <span *ngIf="!isRootFolder" class="expansion-caret" [style.left.px]="itemNamePadding - 14">
    <i *ngIf="expanded" class="fa fa-caret-down"></i>
    <i *ngIf="!expanded" class="fa fa-caret-right"></i>
  </span>
  <a *ngIf="!isRootFolder" class="item-name noselect" (click)="toggleExpand()" [contextMenu]="folderMenu" [contextMenuSubject]="fileItem" [style.paddingLeft.px]="itemNamePadding">{{ fileItem.name }}</a>
  <a *ngIf="isRootFolder" [contextMenu]="rootFolderMenu" [contextMenuSubject]="fileItem" class="root-folder-name noselect">Qmix</a>

  <ul class="child-items" [class.root-children]="isRootFolder" *ngIf="expanded">
    <div name="new-input-container" [style.paddingLeft.px]="itemNamePadding">
      <input id="new-item-input" name="new-item" *ngIf="fileItem === currentParent" (keydown.enter)="onNewItemEnter()">
    </div>
    <sd-tree-node *ngFor="let item of fileItem.sortedContents" [fileItem]="item"></sd-tree-node>
  </ul>
</div>

<context-menu #fileMenu>
  <ng-template contextMenuItem (execute)="openFile($event.item)">
    Open
  </ng-template>
  <ng-template contextMenuItem (execute)="renameFile($event.item)">
    Rename
  </ng-template>
  <ng-template contextMenuItem (execute)="deleteFile($event.item)">
    Delete
  </ng-template>
</context-menu>

<context-menu #folderMenu>
  <ng-template contextMenuItem (execute)="startCreateFile($event.item)">
    New File
  </ng-template>
  <ng-template contextMenuItem (execute)="startCreateFolder($event.item)">
    New Folder
  </ng-template>
  <ng-template contextMenuItem (execute)="renameFolder($event.item)">
    Rename
  </ng-template>
  <ng-template contextMenuItem (execute)="deleteFolder($event.item)">
    Delete
  </ng-template>
</context-menu>

<context-menu #rootFolderMenu>
  <ng-template contextMenuItem (execute)="startCreateFile($event.item)">
    New File
  </ng-template>
  <ng-template contextMenuItem (execute)="startCreateFolder($event.item)">
    New Folder
  </ng-template>
</context-menu>
