:host {
  display: block;
  position: relative;
}

.child-items {
  margin: 0;
  padding: 0;
}

.item-name {
  cursor: pointer;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #E2E2E2;

  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-name:hover {
  background-color: rgba(255, 255, 255, 0.02);
}

.expansion-caret {
  position: absolute;
  left: -14px;
  color: white;
}

.expansion-caret i {
  position: relative;
  top: 1px;
}

#new-item-input {
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid #2e9ad0;
  color: #E2E2E2;
}