<div *ngIf="isFile">
  <a class="item-name noselect" (click)="openFile(fileItem)" [contextMenu]="fileMenu" [contextMenuSubject]="fileItem">{{ fileItem.name }}</a>
</div>
<div *ngIf="isFolder">
  <span *ngIf="!isRootFolder" class="expansion-caret">
    <i *ngIf="expanded" class="fa fa-caret-down"></i>
    <i *ngIf="!expanded" class="fa fa-caret-right"></i>
  </span>
  <a *ngIf="!isRootFolder" class="item-name noselect" (click)="toggleExpand()" [contextMenu]="folderMenu" [contextMenuSubject]="fileItem">{{ fileItem.name }}</a>

  <ul class="child-items" *ngIf="expanded">
    <sd-tree-node *ngFor="let item of fileItem.contents" [fileItem]="item"></sd-tree-node>
  </ul>
</div>

<context-menu #fileMenu>
  <ng-template contextMenuItem (execute)="openFile($event.item)">
    Open
  </ng-template>
  <ng-template contextMenuItem (execute)="renameFile($event.item)">
    Rename
  </ng-template>
  <ng-template contextMenuItem (execute)="deleteFile($event.item)">
    Delete
  </ng-template>
</context-menu>

<context-menu #folderMenu>
  <ng-template contextMenuItem (execute)="createFile($event.item)">
    New File
  </ng-template>
  <ng-template contextMenuItem (execute)="createFolder($event.item)">
    New Folder
  </ng-template>
  <ng-template contextMenuItem (execute)="renameFile($event.item)">
    Rename
  </ng-template>
  <ng-template contextMenuItem (execute)="deleteFile($event.item)">
    Delete
  </ng-template>
</context-menu>
