<!-- Home file, call on tabs, side panel, editor, and terminal components -->
<!-- any additional GUI components added should be called on here -->
<div class="app-panel tabs-panel" [style.width.px]="tabsWidth">
  <sd-tabs></sd-tabs>
</div>
<div class="app-panel sidebar-panel" [style.width.px]="sidebarWidth">
  <sd-sidebar></sd-sidebar>
</div>
<div class="app-panel editor-terminal-panel" [style.width.px]="editorWidth">
  <div id="sidebar-divider" (mousedown)="resizeSidebar($event)"></div>
  <div class="editor-panel" [style.height.px]="editorHeight">
    <sd-editor></sd-editor>
    <div id="terminal-divider" (mousedown)="resizeTerminal($event)"></div>
  </div>
  <div class="terminal-panel" [style.height.px]="terminalHeight">
    <sd-terminal></sd-terminal>
  </div>
</div>
