:host {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-panel {
  display: block;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.tabs-panel {
  float: left;
  background-color: rgba(255, 255, 255, 0.06);
}

.sidebar-panel {
  float: left;
  background-color: rgba(255, 255, 255, 0.03);
}

.editor-panel,
.terminal-panel {
  display: block;
  position: relative;
}

.editor-terminal-panel {
  float: right;
}

sd-sidebar,
sd-editor {
  height: 100%;
  width: 100%;
}

#sidebar-divider {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: transparent;
  cursor: col-resize;
}

#terminal-divider {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: transparent;
  cursor: row-resize;
}
