/* Reset */
html, body, div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* Box-sizing border-box */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin),
  url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"),
  url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Light),
  url("../fonts/roboto/Roboto-Light.woff2") format("woff2"),
  url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300
}
@font-face{
  font-family: "Roboto";
  src: local(Roboto Regular),
  url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400
}
@font-face{
  font-family: "Roboto";
  src: local(Roboto Medium),
  url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"),
  url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500
}
@font-face{
  font-family: "Roboto";
  src: local(Roboto Bold),
  url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700
}

body {
  background-color: #232328;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  outline-style: none;
}

/* File Tab Scrollbar */
#file-tab-container::-webkit-scrollbar {
  height: 3px;
}

#file-tab-container::-webkit-scrollbar-track,
#ace-container ::-webkit-scrollbar-track,
#root-node ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.05);
}

#file-tab-container::-webkit-scrollbar-thumb,
#ace-container ::-webkit-scrollbar-thumb,
#root-node ::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.8);
}

#file-tab-container::-webkit-scrollbar-corner,
#file-tab-container::-webkit-scrollbar-thumb:window-inactive,
#ace-container ::-webkit-scrollbar-corner,
#ace-container ::-webkit-scrollbar-thumb:window-inactive,
#root-node ::-webkit-scrollbar-corner,
#root-node ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.4);
}

/* Ace Scrollbar */
#ace-container ::-webkit-scrollbar,
#root-node ::-webkit-scrollbar {
  height: 5px;
  width: 7px;
}

/* Ace Styling */
.ace_gutter-layer {
  min-width: 52px !important;
}

/* Context Menu */
.ngx-contextmenu .dropdown-menu {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 3px 0px;
  background-color: #232328;
  border: 1px solid #222127;
  margin: 0;
}

.ngx-contextmenu ul {
  list-style: none;
}

.ngx-contextmenu li {

  position: relative;
  cursor: pointer;
}

.ngx-contextmenu li:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.ngx-contextmenu a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  width: 100%;
  text-transform: lowercase;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  outline-style: none;
}

.ngx-contextmenu a.hasSubMenu::before {
  content: none;
}
