<div class="qmix-files-title">
  Qmix

  <i class="fa fa-file new-file-btn" id="new-file-btn" (click)="createFile()"></i>
</div>

<div class="files-container" [contextMenu]="fileCreationMenu">
  <input id="new-file-input" class="new-file-input" name="new-file" *ngIf="isCreatingNewFile" (keydown.enter)="finishEditingFile()">

  <div *ngFor="let file of files" class="file-name" [contextMenu]="fileMenu" [contextMenuSubject]="file" (click)="openFile(file)">
    <input *ngIf="file === fileToBeRenamed" id="new-file-input" class="new-file-input" name="file-rename" (keydown.enter)="finishEditingFile()">
    <span *ngIf="file !== fileToBeRenamed">{{ file.name }}</span>
  </div>
</div>

<context-menu #fileMenu (open)="finishEditingFile()">
  <ng-template contextMenuItem (execute)="renameFile($event.item)">
    Rename
  </ng-template>
  <ng-template contextMenuItem (execute)="deleteFile($event.item)">
    Delete
  </ng-template>
</context-menu>

<context-menu #fileCreationMenu (open)="finishEditingFile()">
  <ng-template contextMenuItem (execute)="createFile()">
    New File
  </ng-template>
</context-menu>
