:host {
  color: white;
}

.rpc-url-input {
  padding: 10px;
}

.rpc-url-input {
  height: 100px;
}

.deployment-options {
  height: 120px;
}

.contracts {
  height: calc(100% - 262px);
  overflow-y: overlay;
  overflow-x: hidden;
  display: block;
}

.rpc-url-input .input-field {
  width: 250px;
  color: white;
}

.deployment-options {
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
}

.contract-form {
  width: 250px;
  position: relative;
  top: 9px;
}

#constructor-inputs {
  margin-bottom: 0;
}

.constructor-input-field {
  display: inline-block;
  margin-left: 20px;
  width: 250px;
  color: white;
}

.deploy-button,
.call-button {
  height: 25px;
  line-height: 25px;
  border-radius: 0px;
  border: 1px solid #2e9ad0;
  background: transparent;
  display: block;
  width: 250px;
}

.call-button {
  text-transform: none;
}

.contract-container {
  width: 100%;
  position: relative;
  padding-top: 35px;
  background: rgba(255, 255, 255, 0.05);
}

.contract-container:not(:first-child) {
  margin-top: 20px;
}

.contract {
  padding: 10px;
  padding-top: 0;
  position: relative;
  overflow-x: overlay;
}

.contract-fn {
  white-space: nowrap;
  display: block;
  min-height: 50px;
}

.call-button,
.fn-inputs {
  width: 250px;
  display: inline-block;
}

.fn-inputs input {
  margin-right: 20px;
}

.call-button {
  position: relative;
  top: 10px;
  margin-right: 20px;
}

.remove-contract {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
}

.contract-name {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  z-index: 1;
  max-width: calc(100% - 35px);
  white-space: nowrap;
  overflow: hidden;
}

.loading-indicator {
  padding: 10px;
  margin-bottom: 10px;
}

.loading-indicator span {
  margin-bottom: 10px;
  display: block;
}

.last-error {
  padding: 10px;
  background-color: rgba(217, 81, 79, 0.67);
  margin-bottom: 25px;
}
