<div class="rpc-url-input">
  <div class="input-field">
    <input id="qtum-rpc-url" name="qtum-rpc-url" type="text" [(ngModel)]="rpcUrl" (change)="getUnspent()">
    <label for="qtum-rpc-url" class="active">Qtum RPC URL</label>
  </div>

  <mat-form-field>
    <mat-select [(value)]="selectedUtxo" placeholder="Account">
      <mat-option *ngFor="let utxo of unspent" [value]="utxo">{{ utxo.address }} ({{ utxo.amount }})</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="input-field">
    <input id="gas-limit" name="gas-limit" type="text" [(ngModel)]="gasLimit">
    <label for="gas-limit" class="active">Gas Limit</label>
  </div>

  <div class="input-field">
    <input id="tx-value" name="tx-value" type="text" [(ngModel)]="txValue">
    <label for="tx-value" class="active">Transaction Value</label>
  </div>
</div>

<div class="deployment-options" *ngIf="contracts.length > 0">
  <mat-form-field class="contract-form">
    <mat-select [(value)]="selectedContract">
      <mat-option *ngFor="let contract of contracts" [value]="contract">{{ contract.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="input-field constructor-input-field" *ngIf="constructorInputs.length > 0">
    <input id="constructor-inputs" name="constructor-inputs" type="text" [placeholder]="constructorInputs" [(ngModel)]="constructorArgs">
    <label for="constructor-inputs" class="active">Constructor Arguments</label>
  </div>

  <a class="waves-effect waves-light btn deploy-button" (click)="deploy()">Deploy</a>
</div>

<div *ngIf="compiling" class="loading-indicator center-align">
  <span *ngIf="compiling">Compiling</span>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="contracts">
  <div *ngFor="let contract of loadedContracts" class="contract-container">
    <span class="contract-name" (click)="toggleExpand(contract)">{{ contract.name }} @{{ contract.address }}</span>
    <div class="contract" *ngIf="contract.expanded">
      <div *ngFor="let fn of contract.functions" class="contract-fn">
        <a class="waves-effect waves-light btn call-button" (click)="callOrSend(contract, fn)">{{ fn.name }}</a>
        <div class="input-field fn-inputs" *ngIf="fn.inputs && fn.inputs.length > 0">
          <input name="function-inputs" type="text" [placeholder]="getFunctionInputs(fn)" [(ngModel)]="fn.args">
          <label for="function-inputs" class="active">Function Arguments</label>
        </div>
      </div>
    </div>
    <span class="remove-contract" (click)="removeContract(contract)"><i class="fa fa-times"></i></span>
  </div>
</div>
